import * as React from 'react'
// import { GetStaticPaths, GetStaticProps } from 'next'

// import {} from '@components/'
// import {} from '@interfaces/'
// import {} from '@hooks/'
// import {} from '@utils/'

// interface Params {}

interface Props {}

const {{ properCase pageName }}: React.FC<Props> = ({ children }) => {
  return (
    <div className="">
      {children}
    </div>
  )
}

// export const getStaticPaths: GetStaticPaths = async () => {}

// export const getStaticProps: GetStaticProps<Props, Params> = async ctx => {}

export default {{ properCase pageName }}